@charset "UTF-8";
/* CSS Document */
/*** GENERAL & RESET STYLES ***/ 

html, body {
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased; !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;	
	background: #333;
	color: #fff;
	overflow: hidden;
}

html, body, img, div, h1 {
	margin: 0;
	padding: 0;
}

.container {
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}

.btn {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
  height: 100px;
  padding-top:40px;
}

@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 480px) {
	.container {
		max-width: 95%;
	}
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}